@import "typo.css";
@import "normalize.css";
@import "prismjs.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital@0;1&display=swap");

/* globals */
$black-normal: #505050;
$black-bold: #111;
$black-light: #222;
$grey: #aaa;
$grey-bold: #777;
$grey-light: #b3b3b3;
$scooter: #1995a6;
$content-width: 60%;
$content-max-width: 720px;
$mobile-content-width: 80%;

$dark-bg: #3f3f3f;
$dark-code-bg: #333;
$dark-code-marked-bg: #444;
$dark-color: #d8d8d8;
$dark-grey: #aaa;
$dark-grey-bold: #bbb;
$dark-white: #ddd;
$dark-white-light: #fff;

$fonts-title: Baskerville, Roboto, Arial, "Noto Sans SC", "PingFang SC", "Microsoft YaHei", "Source Han Sans",
  sans-serif;

$fonts-sans-serif: Roboto, Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans SC",
  "Source Han Sans", "WenQuanYi Micro Hei", sans-serif;

$fonts-serif: Georgia, "Times New Roman", PMingLiu, STSong, SimSun, "WenQuanYi Bitmap Song", "Noto Serif SC", serif;

$fonts-monospace: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", Courier, monospace;

/* slightly mordenize */
:root {
  --fonts-title: $fonts-title;
  --fonts-sans-serif: $fonts-sans-serif;
  --fonts-serif: $fonts-serif;
  --fonts-mono: $fonts-monospace;
  --text-color-normal: #505050;
  --text-color-black: #222;
  --text-color-fade: #aaa;
  --text-color-translucent: #aaa9;
  --color-scooter: $scooter;
  --bg-color-code-light: #f3f5fa;
  --bg-color-code: #e9e9e9;
}

/* custom TOC */
#toc-panel {
  display: block;
  position: fixed;
  left: 0%;
  top: 0%;
  width: 300px;
  height: 100%;
  overflow: auto;
  /* border: 1px solid black; */
  padding: 20px 1.3em 20px 0px;
  font-size: smaller;
  z-index: 1;
  transition: transform 0.4s ease-in-out;
  color: var(--text-color-black);
  background-color: rgba(255, 255, 255, 0.95);

  .dark & {
    color: $dark-color;
    background-color: rgb(25%, 25%, 25%, 0.95);
  }
  > .toc {
    padding-bottom: 2.5em;
  }
  &.toc-panel {
    ul,
    ol {
      list-style: none;
      margin-left: 1.3em;
      margin-bottom: 0.6em;
      line-height: 1.8em;
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
}

#toc-toggle {
  cursor: pointer;

  .toc-toggle-bars {
    top: 100px;
    left: var(--toc-toggle-left, 50px);
    position: fixed;
    /* transform: translate(0, -50%); */
    transition: all 0.3s ease;
    width: 40px;
  }

  .toc-toggle-bars:before,
  .toc-toggle-bars:after,
  .toc-toggle-bars span {
    margin: 0;
    padding: 0;
    background: var(--text-color-fade);
    content: "";
    display: block;
    height: 2px;
    border-radius: 3px;
    margin: 6px 0;
    transition: 0.3s;
    width: 100%;
    box-shadow: 3px 3px 20px 0px hsl(0deg 0% 0% / 20%);
  }

  .toc-toggle-bars:before {
    width: 50%;
  }

  .toc-toggle-bars:after {
    width: 75%;
  }

  .toc-toggle-bars:hover:before {
    width: 50%;
    height: 2px;
    transform: translateX(20px) rotate(-25deg) translateX(-1px) translateY(2px);
  }

  .toc-toggle-bars:hover:after {
    width: 50%;
    height: 2px;
    transform: translateX(20px) rotate(25deg) translateX(-1px) translateY(-2px);
  }

  .toc-toggle-bars:hover span {
    width: 80%;
    height: 2px;
    transform: translateX(20px);
  }

  .toc-toggle-cross:before {
    width: 100%;
    transform: translateY(12px) rotate(45deg);
  }

  .toc-toggle-cross:after {
    width: 100%;
    transform: translateY(-12px) rotate(-45deg);
  }

  .toc-toggle-cross span {
    transform: scale(0) translateY(-12px) rotate(45deg);
  }
  @media (max-width: 768px) {
    display: none;
  }
}

/* encrypted */
#encrypted-content {
  font-family: $fonts-serif;
  font-weight: normal;
  font-style: italic;
  color: var(--text-color-fade);
}

/* icon & fold*/
$icon-arrow: url("data:image/svg+xml,%3Csvg%20width%3D%221000%22%20height%3D%221000%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20style%3D%22%26%2310%3B%22%3E%0A%3Cmetadata%3EIcoFont%20Icons%3C/metadata%3E%0A%3Ctitle%3Ethin-double-right%3C/title%3E%0A%3Cglyph%20glyph-name%3D%22thin-double-right%22%20unicode%3D%22%EE%AB%87%22%20horiz-adv-x%3D%221000%22/%3E%0A%3Cpath%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23505050%22%20d%3D%22M466.5%20216.4l16-16.400000000000006%20308.9%20300-308.9%20300-16-16.399999999999977%20292-283.6-292-283.6z%20m-258.5%200l16-16.400000000000006%20308.9%20300-308.9%20300-16-16.399999999999977%20292-283.6-292-283.6z%22/%3E%0A%3C/svg%3E");

:root {
  --icon-rotate: 0deg;
  --icon-shift: 0px;
}

%icon-double-arrow {
  background: $icon-arrow no-repeat center;
  background-size: 100%;
  width: var(--icon-size, 20px);
  height: var(--icon-size, 20px);
  transform: rotate(var(--icon-rotate-final)) rotate(90deg);
  transition: transform 200ms cubic-bezier(0, 0, 0.25, 1.11);
  vertical-align: text-top;
}

/* fold */
.foldable {
  transition: all 200ms ease;
}

.foldable.folded {
  --icon-rotate: -90deg;
  --icon-shift: 5px;
}

.foldable::after {
  content: "";
  display: none;
  --icon-rotate-final: calc(var(--icon-rotate) + 0deg);
  margin-left: var(--icon-shift);
  @extend %icon-double-arrow;
}

.foldable.folded:hover,
.foldable.expanded {
  cursor: pointer;
  --icon-shift: 10px;
  --icon-rotate: 0deg;
  padding-left: 0.5em;
  letter-spacing: 1px;
}

.foldable.expanded:hover {
  --icon-rotate: -180deg;
  border-left: solid 0.15em var(--color-scooter);
  transition: all 100ms ease-in;
}

.foldable.folded:after,
.foldable.expanded:after {
  display: inline-block;
}

span.icon-double-arrow.downward {
  --icon-rotate-final: calc(var(--icon-rotate) + 0deg);
  @extend %icon-double-arrow;
}

span.icon-double-arrow.upward {
  --icon-rotate-final: calc(var(--icon-rotate) + 180deg);
  @extend %icon-double-arrow;
}

/* mask */
.masked,
.masked :not(hr) {
  padding: 1px 4px;
  background-color: var(--text-color-normal);
  color: var(--text-color-normal) !important;
  transition: color 0.1s linear;
  &:hover {
    color: #fff !important;
  }
  a {
    border: 0;
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
}

.footnotes {
  font-size: 16px;
}

/* original */

%hr-base {
  height: 1px;
  border: 0;
  background-image: -webkit-linear-gradient(0deg, transparent, #d5d5d5, transparent);
}

%nav-link-base {
  margin-right: 10px;
  color: var(--text-color-black);
  text-shadow: 0px 2px 4px var(--text-color-translucent);
  padding-bottom: 5px;
  display: inline-block;
  border: 0;
}

body,
html {
  font-size: 20px;
  min-height: 100vh;
  color: var(--text-color-normal);
  background: inherit;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  /* overwrite typo.css */
  font: 400 1em/1.6 $fonts-sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
  -moz-font-feature-settings: "liga"on;
  font-feature-settings: "liga"on;
  */
  transition: all 250ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
.main-nav-link {
  color: unset;
  font-family: $fonts-title;
}

%a-hover {
  color: var(--color-scooter);
  border-bottom: 1px solid var(--color-scooter);
  transition: color 100ms linear;
}

a,
.typo a {
  /* font-weight: 200; */
  color: unset;
  border-bottom: 1px dashed var(--color-scooter);
  text-decoration: none;
  transition: color 250ms linear;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    @extend %a-hover;
  }
}

em,
.typo em {
  font-style: italic;
  color: unset;
  /*font-weight: lighter;*/
}

b,
strong {
  /*font-weight: bold;*/
  font-weight: bolder;
  color: unset;
}

blockquote {
  font-weight: inherit;
  color: var(--text-color-fade);
  border-left: 2px solid var(--color-scooter);
  padding-left: 1em;
  margin: 1em 3em 1em -1em;

  a {
    color: inherit;
  }
}

.footer {
  box-sizing: border-box;
}

.home-footer {
  padding: 50px 0;
}

.archive-footer,
.post-footer {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;

  hr {
    @extend %hr-base;
  }

  color: var(--text-color-fade);

  a,
  b,
  strong {
    color: $grey;
  }
}

.container {
  width: 100%;
}

.copyright,
.footer-content,
.footer-links {
  text-align: center;
  width: 100%;
  font-size: 90%;
  color: var(--text-color-translucent);

  /* opacity: .6; */
  li {
    display: inline-block;
  }

  a {
    color: var(--text-color-fade);
  }

  a:hover {
    color: $scooter;
  }
}

.archive-footer,
.post-footer {
  width: $content-width;
  max-width: $content-max-width;
}

.footer-content {
  margin: 0 auto;
  text-align: left;
}

.footer-links {
  a {
    text-decoration: none;
    border: none;
  }

  font-size: 100%;
  padding: 0;

  li {
    margin: 0 5px;
  }
}

.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > * {
    transition: all 1.3s ease-out;
  }

  &.loading #footer {
    transform: translateY(50%);
  }

  &.loading #container {
    transform: translateY(-50px);
  }

  #loading-cover {
    top: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  &.loading #loading-cover {
    background-color: #fff;
  }
}

.home {
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  position: relative;

  pre,
  code {
    font-family: Courier, monospace;
    background-color: transparent;
    letter-spacing: 1px;
  }

  a {
    border-bottom: solid 1px var(--text-color-black);

    &:hover {
      border-bottom: solid 1px var(--color-scooter);
    }
  }

  .content {
    width: $content-width;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
  }

  h1,
  strong {
    color: $black-light;
  }

  hr {
    @extend %hr-base;
    width: 80%;
    max-width: 300px;
    margin: 20px auto;
  }

  li {
    list-style: none;
  }

  .profile {
    width: 100%;

    h1 {
      font-weight: inherit;
    }
  }
}

.main-nav-link {
  @extend %nav-link-base;
}

.nav-left {
  position: absolute;
  left: -130px;
  text-align: right;

  .main-nav-link {
    display: block;
    padding-bottom: 10px;
  }
}

.header-hr-left {
  display: none;
}

.mobile-nav {
  display: none;
}

.archive-container,
.category-container,
.tag-container {
  width: $content-width;
  margin: 0 auto;
  position: relative;
  line-height: 1;
  text-align: left;
  font-size: 18px;
  padding-top: 50px;
  max-width: $content-max-width;

  article {
    margin-bottom: 15px;
  }

  a {
    border: 0;
  }

  a:hover {
    border: 0;
    color: var(--color-scooter);
  }

  .header {
    font-size: 18px;
  }

  .archive-article-header {
    > a,
    > h1 {
      display: inline-block;
      vertical-align: middle;
    }

    > a {
      width: 100px;
    }

    h1 {
      width: calc(100% - 120px);
      font-size: 100%;
      margin: 0;
    }
  }

  hr {
    width: 60%;
    margin: 20px 0 40px 0;
    @extend %hr-base;
    background-image: -webkit-linear-gradient(0deg, #d5d5d5, #d5d5d5, transparent);
  }

  .archive-article-date {
    font-size: 80%;
    color: var(--text-color-fade);
  }

  .archive-article-title {
    font-weight: 300;
    color: var(--text-color-black);
  }

  .archive-year-wrap {
    margin-bottom: 20px;
  }

  .page-nav {
    text-align: center;
    margin-top: 30px;
    color: $grey;

    a {
      color: $grey-bold;
    }
  }

  .page-number,
  .extend {
    margin-right: 15px;
  }
}

.article {
  width: $content-width;
  max-width: $content-max-width;

  margin: 0 auto;
  /* font-size: 16px; */

  .header {
    font-size: 18px;
    padding-top: 50px;
  }

  .main-nav-link:hover {
    border: 0;
  }

  .nav-left {
    position: relative;
    left: initial;
    text-align: initial;

    .main-nav-link {
      display: inline-block;
      padding-bottom: 5px;
    }
  }

  .header-hr-left {
    display: block;
  }

  hr {
    width: 60%;
    margin: 20px 0 40px 0;
    @extend %hr-base;
    background-image: -webkit-linear-gradient(0deg, #d5d5d5, #d5d5d5, transparent);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color-black);
    &.foldable {
      --icon-size: 1.2em;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 300;
  }

  h5 {
    font-weight: bolder;
  }

  h6 {
    font-weight: 400;
  }

  .article-title {
    font-size: 2.5em;
  }

  a.fancybox,
  a.fancybox-item {
    border: 0;
  }

  .caption {
    color: $grey;
    display: block;
    font-size: 14px;
    text-align: center;
  }

  .article-entry {
    word-break: break-word;

    img {
      display: block;
      margin: auto;
    }

    blockquote {
      footer {
        text-align: center;
        font-size: 80%;
        color: $grey;

        cite {
          font-style: italic;

          &:before {
            content: "—";
            padding: 0px 0.5em;
          }

          a {
            color: $grey;
            border-bottom: 1px solid #eee;
            transition: color 250ms linear;

            &:hover {
              @extend %a-hover;
            }
          }
        }

        strong {
          /*color: $grey-bold;*/
          font-weight: 400;
        }
      }
    }

    td,
    th,
    table caption,
    table td,
    table th {
      word-break: initial;
    }

    .pullquote {
      width: 45%;
      border: 0;
    }

    .pullquote.left {
      float: left;
      text-align: left;
    }

    .pullquote.right {
      float: right;
      text-align: right;
    }

    .video-container {
      position: relative;
      padding-top: 56.25%;
      margin-bottom: 30px;
      height: 0;
      overflow: hidden;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 0;
      }
    }
  }

  .article-nav {
    max-width: 100%;
    margin-top: 50px;
    font-size: 80%;
  }

  .article-nav-link-wrap {
    display: inline-block;
    color: $grey;
    padding: 0 10px;
    width: 49%;
    box-sizing: border-box;
    vertical-align: top;
    border: 0;

    &:hover {
      @extend %a-hover;
      border-bottom: 0;
    }

    /*
    strong {
      color: $grey-bold;
    }
    */
  }

  .article-nav-link-wrap.newer {
    text-align: right;
  }

  .article-nav-link-wrap.older {
    text-align: left;
  }

  .article-footer {
    margin-top: 50px;

    hr {
      margin-top: 50px;
      @extend %hr-base;
    }
  }

  .article-meta {
    font-size: 80%;
    color: var(--text-color-fade);

    a {
      color: var(--text-color-normal);

      &:hover {
        color: var(--color-scooter);
      }
    }

    .label {
      margin-right: 10px;
    }

    .article-tag-list,
    .article-category {
      display: inline-block;
    }

    .article-tag-list-item {
      display: inline-block;
      margin-right: 5px;

      &:before {
        content: "#";
      }
    }
  }

  .article-gallery {
    img {
      width: 100%;
    }
  }
}

.article-type-page {
  .article-footer {
    display: none;
  }
}

.comments {
  width: $content-width;
  max-width: $content-max-width;
  margin: 50px auto 0 auto;
}

/************  mobile navigation menu  ***********/
/* hide mobile nav menu and its checkbox */
/* when it's not mobile */
.mobile-nav,
#mobile-menu-toggle,
.mobile-nav-link {
  display: none;
}

/* set line-height in /archives page */
.mobile-nav-menu {
  line-height: 1.8;
  position: relative;
}

/* set appearance of links */
.mobile-nav-link {
  background: #fff;
  border: 2px solid var(--text-color-fade);
  border-radius: 3px;
  margin: 5px;
  padding: 5px 20px;
  position: absolute;
  right: 0;
  text-align: left;
}

.dark .mobile-nav-link {
  background: #3f3f3f;
}

@media (max-width: 768px) {
  /* hide desktop nav */
  .main-nav {
    display: none;
  }

  /* display mobile nav */
  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nickname {
      color: var(--text-color-translucent);
    }
  }

  /* display links when menu button is clicked */
  /* use grid to display each link in new line */
  #mobile-menu-toggle:checked + .mobile-nav-link {
    display: grid;
  }

  /* don't underline links in mobile nav */
  .mobile-nav a,
  .mobile-nav a:hover {
    border-bottom: none;
  }
}

/************  mobile navigation menu end ***********/

/************  dark mode  ***********/
.dark {
  background-color: $dark-bg;
  color: $dark-color;

  .container,
  .footer {
    background-color: $dark-bg;
  }

  a {
    color: $dark-white;
  }

  a:hover {
    @extend %a-hover;
    color: $dark-white-light;
  }

  .home {
    color: $dark-color;

    h1,
    strong {
      color: $dark-white;
    }

    a {
      border-bottom: solid 1px #ddd;
    }

    a:hover {
      border-bottom: solid 1px $dark-white-light;
    }
  }

  .archive-container,
  .category-container,
  .tag-container,
  .article {
    .header {
      .main-nav-link {
        color: $dark-grey;
      }

      .main-nav-link:hover {
        color: $dark-white-light;
      }
    }

    .page-nav,
    .article-nav {
      color: $dark-grey;

      a {
        color: $dark-grey-bold;
      }

      a:hover {
        color: $dark-white-light;
      }
    }

    .article-entry blockquote footer strong,
    .article-meta a {
      color: $dark-grey-bold;
    }
  }

  /* cover typo.css */
  blockquote {
    color: $dark-grey;
  }

  strong,
  b {
    color: $dark-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-white;
  }

  .typo-em,
  .typo em,
  legend,
  caption {
    color: $dark-grey-bold;
  }

  .typo table td,
  .typo-table td,
  .typo table caption {
    border: 1px solid #ddd;
    color: $dark-grey;
  }

  /* cover end */

  .article-entry {
    pre {
      color: $dark-color !important;
      background-color: $dark-code-bg !important;
    }
  }
}

/************  dark mode end  ************/

/* code highlight */
$code-background: #f3f5fa;
$code-font-size: 0.8rem;
$code-line-height: 1.6em;

$highlight-background: #ffffff;
$highlight-current-line: #efefef;
$highlight-selection: #e6e6e6;
$highlight-foreground: #4d4d4c;
$highlight-comment: #236810;
$highlight-red: #c82829;
$highlight-orange: #f5871f;
$highlight-yellow: #eab700;
$highlight-green: #718c00;
$highlight-aqua: #3e999f;
$highlight-blue: #4271ae;
$highlight-purple: #8959a8;

%code-block {
  background-color: var(--bg-color-code-light) !important;
  font-size: $code-font-size;
  font-family: var(--fonts-mono);
  line-height: $code-line-height;
  overflow: auto;
}

.article-entry {
  pre,
  code {
    &[class*="language-"] {
      border-radius: 5px;
      @extend %code-block;
    }

    .line-numbers .line-numbers-rows {
      line-height: $code-line-height;
    }
  }

  code:not([class]),
  code[class=""] {
    /* inline code */
    padding: 0 5px;
    font-family: var(--fonts-mono);
    font-size: 0.9em;
    background-color: var(--bg-color-code);
    border-radius: 3px;
  }
}

/* tablet */

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }

  .archive-footer,
  .post-footer {
    width: $mobile-content-width;
  }

  .home {
    .content {
      width: $mobile-content-width;
    }
  }

  .archive-container,
  .category-container,
  .tag-container {
    width: $mobile-content-width;
  }

  .article {
    width: $mobile-content-width;
  }

  .article-title {
    font-size: 2rem;
  }

  .comments {
    width: $mobile-content-width;
  }

  .nav-left {
    position: relative;
    left: initial;
    text-align: initial;

    .main-nav-link {
      display: inline-block;
      padding-bottom: 5px;
    }
  }

  .header-hr-left {
    display: block;
  }
}

/* mobile */

@media (max-width: 468px) {
  $mobile-content-width: 80%;

  body {
    font-size: 16px;
  }

  .home {
    color: $black-light;

    a {
      color: $black-bold;
    }
  }

  .archive-container {
    .archive-footer,
    .post-footer {
      padding: 40px;
    }

    .archive-article-header {
      > a,
      > h1 {
        width: 100%;
      }
    }
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-nav {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 50%;
    padding: 20px;
    border: 2px solid #777;
    box-shadow: 5px 5px 5px #777;

    .main-nav-link {
      display: block;
      padding-bottom: 10px;
    }
  }

  .article .nav-left {
    position: absolute;

    .main-nav-link {
      display: block;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 320px) {
  body {
    font-size: 14px;
  }

  .article {
    font-size: 16px;
  }

  .archive-container {
    .archive-footer,
    .post-footer {
      padding: 30px;
    }
  }

  .footer,
  .footer-content {
    font-size: 100%;
  }
}
