<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <% const tags = new Set(post.tags.data.map((tag) => tag.name)); %>
    <% if (tags.has('hidden') || tags.has('Hidden')) { %>
      <% return; %>
    <% } %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% const year = post.date.year(); %>
    <% const tags = new Set(post.tags.data.map((tag) => tag.name)); %>
    <%
    /* Hide posts who have 'hidden' tag */
    /* < %= `---> date=${post.date} tags=${JSON.stringify([...tags])}` % > */
    %>
    <% if (tags.has('hidden') || tags.has('Hidden')) { %>
      <% return; %>
    <% } %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>
<% if (page.total > 1){ %>
  <nav id="page-nav" class="page-nav">
    <% var prev_text = "&laquo; " + __('prev');var next_text = __('next') + " &raquo;"%>
    <%- paginator({
      prev_text: prev_text,
      next_text: next_text
    }) %>
  </nav>
<% } %>
