<div id="toc-toggle">
  <div class="toc-toggle-bars"><span></span></div>
</div>
<div id="toc-panel" class="toc-panel hidden">
  <div usage="top-hotzone">
    <a href="#header"><span>Title</span></a>
  </div>
  <div usage="content"></div>
  <div usage="bottom-hotzone">
    <a href="#footer"><span>End</span></a>
  </div>

  <%#- toc(page.content, {list_number: false}) %>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      (($) => {
        // toc-toggle UX
        const tocToggle = $("#toc-toggle");
        const tocPanel = $("#toc-panel");
        const adjustPos = () => {
          let toggle_left = $("article.article").offset().left - 140;
          if (toggle_left < 50) {
            toggle_left = 50;
          }
          let panel_right = toggle_left;
          if (panel_right > tocPanel.width()) {
            panel_right = tocPanel.width() - 50;
          }
          $(":root").css("--toc-toggle-left", toggle_left + "px");
          $(":root").css("--toc-panel-right", panel_right + "px");
        };
        adjustPos();
        $(window).resize(() => {
          adjustPos();
        });
        const _fsmInternal = { state: "hidden", pendingAction: null };
        const FSM = new Proxy(_fsmInternal, {
          set: (target, prop, value) => {
            if (prop === "state") {
              // console.log(`state ${target.state} => ${value}`);
              if (value === "hidden") {
                tocPanel.addClass("hidden").removeClass("floating").removeClass("shown");
              } else if (value === "floating") {
                tocPanel.removeClass("hidden").addClass("floating").removeClass("shown");
              } else if (value === "shown") {
                tocPanel.removeClass("hidden").removeClass("floating").addClass("shown");
              }
              if (value !== target.state) {
                target.pendingAction && clearTimeout(target.pendingAction);
                target.pendingAction = null;
              }
              target.state = value;
            }
            if (prop === "lastActionTimer") {
              target.pendingAction && clearTimeout(target.pendingAction);
              target.pendingAction = value;
            }
            return Reflect.set(target, prop, value);
          },
        });

        tocToggle.on("mouseover", () => {
          if (FSM.state !== "shown") {
            FSM.state = "floating";
          } // hidden => floating
        });

        tocToggle.click(() => {
          FSM.state = "shown";
        });

        tocToggle.on("mouseleave", () => {
          if (FSM.state === "floating") {
            FSM.state = "hiding";
            FSM.pendingAction = setTimeout(() => {
              FSM.state = "hidden";
            }, 200); // mouse moved from tocToggle to tocPanel within 200ms
          }
        });

        tocPanel.on("mouseenter", () => {
          FSM.state = "shown";
        });

        tocPanel.on("mouseleave", () => {
          FSM.state = "leaving";
          FSM.pendingAction = setTimeout(() => {
            FSM.state = "hidden";
          }, 500); // set hidden if mouse had left for 500ms
        });

        // add toc content
        $(document).ready(() => {
          window.resetTOC = () => {
            const excludes = new Set($(".article-entry").find("blockquote,pre").find("h1,h2,h3,h4,h5,h6"));
            const titles = $(".article-entry").find("h1,h2,h3,h4,h5,h6").toArray();
            const minLevel = Math.min(
              ...titles.map((title) => {
                if (excludes.has(title)) {
                  return 7;
                }
                return parseInt(title.tagName[1]);
              })
            );
            tocPanel.children("[usage=content]").children(".toc").remove();
            const root = $("<ul>").addClass("toc")[0];
            tocPanel.children("[usage=content]").append(root);

            let cur_level = minLevel;
            let stack = [root];
            for (const title of titles) {
              if (excludes.has(title)) {
                continue;
              }
              const level = parseInt(title.tagName[1]);
              const addItem = (cur_node) => {
                const li = $("<li>")
                  .addClass("toc-item")
                  .addClass(`toc-level-${level}`)
                  .append(
                    $("<a>")
                      .addClass("toc-link")
                      .attr("href", `#${title.id}`)
                      .append($("<span>").addClass("toc-text").text(title.textContent))
                  )[0];
                cur_node.append(li);
                return li;
              };
              if (level === cur_level) {
                const item = addItem(stack[stack.length - 1]);
              } else if (level > cur_level) {
                const last = stack[stack.length - 1].lastChild || stack[stack.length - 1];
                const child = $("<ul>").addClass("toc-child")[0];
                last.append(child);
                stack.push(child);
                cur_level += 1;
                while (level > cur_level) {
                  const child = $("<ul>").addClass("toc-child")[0];
                  stack[stack.length - 1].append(child);
                  stack.push(child);
                  cur_level += 1;
                }
                addItem(stack[stack.length - 1]);
              } else {
                while (level < cur_level) {
                  stack.pop();
                  cur_level -= 1;
                }
                addItem(stack[stack.length - 1]);
              }
            }
          };
          window.resetTOC();
        });

        // add scroll helper to "-- end --" button
        const bottomHotzone = tocPanel.children("[usage=bottom-hotzone]");
        let bottomRelativePos;
        let resizeObserver;
        bottomHotzone.on("mouseover", () => {
          bottomRelativePos = bottomHotzone[0].getBoundingClientRect().bottom - window.innerHeight;
          resizeObserver = new ResizeObserver(() => {
            if (bottomRelativePos === null /*|| Math.abs(bottomRelativePos) > 10*/) {
              return;
            }
            const curRelativePos = bottomHotzone[0].getBoundingClientRect().bottom - window.innerHeight;
            const p = tocPanel[0];
            p.scrollTop += curRelativePos - bottomRelativePos;
          });
          resizeObserver.observe(tocPanel.children("[usage=bottom-hotzone]")[0]);
        });
        bottomHotzone.on("mouseleave", () => {
          bottomRelativePos = null;
          delete resizeObserver;
        });
      })(jQuery);
    });
  </script>
</div>
